<header class="post-list__header">
  <h1>Posts List</h1>
</header>
<main class="post-list__main">
  <!-- <input class="post-list__main__filterInput" type="text" placeholder="Search by User ID" (keyup)="handleFilter($event)"> -->
  <table>
    <tr>
      <th style="width: 7%;">User ID</th>
      <th style="width: 30%;">Title</th>
      <th style="width: 63%;">Body</th>
    </tr>
    <tr *ngFor="let post of posts">
      <td><strong>{{post.id}}</strong></td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
    </tr>
  </table>
</main>
